<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Url Shortening</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/skeleton.css}">
</head>

<body>

<h1>접속하려는 단축 주소가 유효하지 않습니다.</h1>
<div class="row">
    <div class="three column">
        <a th:href="@{/}">go to home</a>
    </div>
</div>

</body>
</html>